<div class="navigation">
  <ul>
    <li><a ng-href="#/" class="index">All Links</a></li>
    <li><a ng-href="#/create" class="create">Shorten</a></li>
  </ul>
  </div>
<div ng-controller="searchCtrl">
  <input type="text" class="search" placeholder="Search URLs" ng-model="searchBox" ng-keyup="updateSearch()"></input>
</div>
<div id="container" ng-view></div>
