<div class="navigation">
  <ul>
    <li><a ng-href="#/" class="index">All Links</a></li>
    <li><a ng-href="#/create" class="create">Shorten</a></li>
  </ul>
</div>
<div id="container" ng-view></div>
